manifest {
    description = 'Runs a Comet search followed by TPP analysis'
    author = 'Patrick Pedrioli'
}

params {

    help = false
    dda_folder = 'Data/DDA'
    comet_params = 'Params/comet.params'
    comet_threads = 8
    protein_db = 'Results/Databases/proteome.fasta'
    tpp = "-OAPdplIw -PPM"
    decoy = "DECOY_"
    no_pool = false
    libra_params = 'NO_FILE'	// Only required when using libra
}

process{
    withName:cometSearch {
	container = 'digitalproteomes/comet:version-2019015'
    }
    withName:pooledTppPtm {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:pooledTppIpro {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:pooledTpp {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:splitTppPtm {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:splitTppIpro {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:splitTpp {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:refactorPepXml {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:refactorProtXml {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:stPeter {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }    
    withName:mayu {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:tppStat {
	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:pepxml2tsv {
    	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:protxml2tsv {
    	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
    withName:filterPepTsv {
    	container = 'digitalproteomes/tpp:version-5.2.0.a'
    }
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
}