manifest {
    description = 'Runs a Comet search followed by TPP analysis'
    author = 'Patrick Pedrioli'
}

params {

    help = false
    dda_folder = 'Data/DDA'
    comet_params = 'Params/comet.params'
    protein_db = 'Results/Databases/proteome.fasta'
    tpp = "-OAPdplIw -PPM"
    decoy = "DECOY_"
    no_pool = false
}

process{
    withName:cometSearch {
	container = 'digitalproteomes/comet'
    }
    withName:pooledTpp {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:splitTpp {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:mayu {
	container = 'digitalproteomes/tpp-dev'
    }
    withName:tppStat {
	container = 'digitalproteomes/tpp-dev'
    }
}

docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 28
     memory = '200 GB'
//     queueSize = 2
}